{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
  <div class="row d-flex justify-content-between"><h1>{{ p.title }}</h1>
    <a href="/post/" class="btn btn-primary" style="margin-top:15px">목록</a>
  </div>
  <hr>
  <pre><p class="d-block text-right">수정시각 : {{ p.updated_at | date:"Y-d-m_P"}}</p></pre>
  <h4 class="mt-5">{{ p.content }}</h4>

  <div class="text-right mt-5">
  <a href="/post/update/{{ p.id }}" class="btn btn-success">수정하기</a>
  <hr>
  
  
</div>



<form action="/post/comment/{{ p.id }}/" method=POST>
  {% csrf_token %}
    <input type="text" name="content" class="form-control">
    <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary mt-1">작성</button>
  </div>
  </form>
  <h2>댓글 목록({{ p.comment_set.all | length }})</h2>
<table class="table table-borderless mt-1" style="margin-bottom:200px">
<tbody>
  {% for comment in p.comment_set.all %}
  {% if comment.id == target.id %}
  <tr>
    <td>USER</td>
    <form action="/post/comment/update/{{ comment.id }}/" method="POST">
    {% csrf_token %}
    <td><textarea type="text" name="content" class="form-control" rows="auto">{{ target.content }}</textarea></td>
    <td style="width:120px"><button class="btn btn-success" type="submit">수정하기</button></td>
  </form>
    <td style="width:120px"><a class="btn btn-danger" href="/post/comment/delete/{{ comment.id }}/">댓글삭제</a></td>
  </tr>
  {% else %}
  <tr>
  <td>USER</td>
  <td>{{ comment.content }}</td>
  <td style="width:120px"><a class="btn btn-success" href="/post/comment/update/{{ comment.id }}/">댓글수정</a></td>
  <td style="width:120px"><a class="btn btn-danger" href="/post/comment/delete/{{ comment.id }}/">댓글삭제</a></td>
</tr>
{% endif %}
  {% endfor %}
</tbody>

</div>




{% endblock %}