<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAKE SEARCH KIMBC</title>
</head>
<body>
    <img src= 'http://post.phinf.naver.net/MjAxODA0MjZfMTM3/MDAxNTI0NzAzMzk3Njk3.miBjPgobhtHsaORldOf92qqt9bODhFwq4ndvbgmrfXwg.QL1JtY7xxtMcTtdNOWrMBNdFod2kl4Vy3d8yhFXPc5sg.JPEG/I_SKLkxUDQgHpWEv6nCVXdxvHNH0.jpg'
    <form action = 'https://search.naver.com/search.naver'>
        <input name = 'query'>
        <button>검색</button>
    </form>
</body>
</html>